.primary-btn {
  border: none;
  text-decoration: none;
  border-radius: 2rem;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.25s ease-out;
}

.primary-btn:hover {
  background-color: #d2e6b5;
}

.app-default-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
}
