.app-navbar {
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.app-navbar-brn-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.app-navbar-btn {
  background: none;
  border: 1px solid #d9d9d9;
  color: #b9b9b9;
  border-radius: 5px;
  padding: 0 5px;
  cursor: pointer;
  transition:
    background-color 0.5s ease-out,
    color 0.5s ease-out;
}

.app-navbar-btn:hover {
  background-color: #d9d9d9;
  color: #5b5b5b;
}
