.app-text-input {
  border: none;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  caret-color: #393939;
}

.app-text-input::placeholder {
  font-size: 0.8em;
}

.app-text-input:active {
  border: none;
}

.app-input-not-validated {
  border: none;
  border-bottom: 1px solid red;
}
